<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sl.one.mapper.serviceMapper.BnPassInfoServiceMapper">
    <select id="selectBnPassInfoList" parameterType="java.util.Map" resultType="com.sl.one.entity.BnPassInfo">
        SELECT
              ID as id,
              PASS_NAME as passName,
              PASS_INFO as passInfo,
              SALT as salt,
              PASS_REMARK as passRemark
        FROM BN_PASS_INFO
    </select>
</mapper>