body{font-family:'微软雅黑';}

/*----Modal dataTable样式调整 Start----*/
.modalTableDiv{
	padding-left: 10px;
	padding-right: 10px;
}

#contentTable_wrapper .col-sm-12 {
	padding-left: 0px!important;
	padding-right: 0px!important;
}


#approvalContentTable_wrapper .col-sm-12 {
	padding-left: 0px!important;
	padding-right: 0px!important;
}

#partContentTable_wrapper .col-sm-12 {
	padding-left: 0px!important;
	padding-right: 0px!important;
}

#contentTable_wrapper .row:first-child {
	display: none;
}
#contentTable_wrapper .dataTables_info{
	display: inline !important;
	margin-left: 15px;
}
#contentTable_wrapper .dataTables_length{
	display: inline !important;
}

#approvalContentTable_wrapper .row:first-child {
	display: none;
}
#approvalContentTable_wrapper .dataTables_info{
	display: inline !important;
	margin-left: 15px;
}
#approvalContentTable_wrapper .dataTables_length{
	display: inline !important;
}

#partContentTable_wrapper .row:first-child {
	display: none;
}
#partContentTable_wrapper .dataTables_info{
	display: inline !important;
	margin-left: 15px;
}
#partContentTable_wrapper .dataTables_length{
	display: inline !important;
}

/*----Modal dataTable样式调整 End----*/

.table{
	margin-bottom:0px !important;
}
/*----带滚动的TABLE样式----*/
table th {
	white-space: nowrap;
}
table td {
	white-space: nowrap;
	vertical-align: middle !important;
}
table {
	empty-cells:show;
	border-collapse: collapse;
}
.tags{width:100% !important}
/*----日期控件的右侧无法显示边框对应----*/
.panel-body .input-daterange {
	border-right: 1px solid #d5d5d5;
}

.panel-body {
	padding : 15px 0px 0px 0px !important;
}

/*----Datatable中内嵌的合并单元格样式开始----*/
/*----2行1列   第一行第一列----*/
.datatable-row1-col1 {
	padding:4px 8px 0px 8px; 
	border-bottom:1px solid #ddd;
	background-color:transparent;
}
/*----2行1列   第二行第一列----*/
.datatable-row2-col1 {
	padding:2px 8px 2px 8px;
	background-color:transparent;
}

/*----2行2列   第一行第二列----*/
.datatable-row1-col2 {
	padding:4px 8px 0px 8px; 
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
	background-color:transparent;
}
.background-transparent {
	background-color:transparent !important;
}
.datatable-no-border {
	boder-width:0px !important;
	border-left:0px !important;
	border-right:0px !important;
	border-top:0px !important;
	border-bottom:0px !important;
}
/*----Datatable中内嵌的合并单元格样式结束----*/

.h3-title {
	height:34px;
}

/*----解决modal底部黑线问题----*/
.modal-header{
	border-bottom:0px solid !important;
}
.modal-content{
	border:0px solid !important;
}

.grid-btn-disable {
	border-width: 1px!important;
	text-shadow: none!important;
	color: #888!important;
}

.input-daterange{
	max-width: 300px;
}

/*----DataTable隐藏列,用"visible": false属性可以隐藏,但是页面上不会加载此列----*/
.hiddenTd{
	
}
.menu-icon-padding-5 {
	padding:0px 5px;
}

/*-- 流程横线显示 --*/
.custom-wizard-steps-hide li:before{display:none!important;}

.fileDownload{
	cursor: pointer;
}

.validateClass .customErrorInput{
	border:1px solid red;
}